<h3>Post number - <%= @post.id %></h3><br>
<b>Name - </b><span><%= @post.title %></span><br>
<h4><b>The post - </b><span><%= @post.body %></span></h4>
<hr>
<%= link_to "delete", @post, method: :delete , class: "btn btn-danger" %> 
<%= link_to "edit", edit_post_path(@post) , class: "btn btn-warning" %>
